
h1{
  text-align: center;
font-size: 22px;
}
  p{
font-size: 120%;
  }
  .wic{
display: inline-block;
background:red;
color:gold;
}
  .wic:hover{
 background:magenta;
 color:brown;
}
.wic:active{
background:yellow;
color: green;
}
.wic1{
  display: inline-block;
 background:coral;
 color:white;
}
  .wic1:hover{
 background:purple;
 color:white;
}
.wic2{
  display: inline-block;
background:brown;
color: green;
}
   .wic2:hover{
 background:lime;
 color:teal;
}
  .wic3{
    display: inline-block;
background:black;
color: orange;
}
   .wic3:hover{
 background:violet;
 color:navy;
}

@media (min-width: 993px) {
a{
    width: 25%;
    float: left;
    text-align: center;
}
    }
@media (min-width: 769px) and (max-width: 992px){
    a{
        width: 50%;
        float: left;
        text-align: center;
    }
}
@media (max-width: 768px){
    a{
        width: 100%;
        float: left;
        text-align: center;
    }
}
